egov-eauth/eauth-common-libs/eauth-soap-service/src/main/resources/regix/schemas/RegiX.PvDesignAdapter/REG_DESIGN_DesignDetails_Response.xsd

<?xml version="1.0" encoding="UTF-8"?>
 
<xs:schema xmlns="http://egov.bg/RegiX/PatentDepartment/Design/DesignDetailsResponse" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://egov.bg/RegiX/PatentDepartment/Design/DesignDetailsResponse">
	<!-- <xs:import namespace="http://egov.bg/RegiX/PatentDepartment/Design/Common" schemaLocation="CommonTypes.xsd"/> --> 
	<!-- Root element 																															 -->
	<xs:annotation>
		<xs:documentation xml:lang="bg">DesignDetails - Root element; съдържа един или повече елемента от тип DesignType</xs:documentation>
	</xs:annotation>
	<xs:element name="DesignDetails" type="DesignDetailsType"/>
	<!-- ===  			Съдържа един или повече елемента от тип DesignType 			  					===-->
	<xs:complexType name="DesignDetailsType">
		<xs:sequence>
			<xs:element name="Design" type="DesignType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Съдържа данни за един промишлен дизайн</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:annotation>
		<xs:documentation xml:lang="bg">DesignType - Съдържа данни за един промишлен дизайн:</xs:documentation>
		<xs:documentation xml:lang="bg">ApplicationNumber - Заявителски номер</xs:documentation>
		<xs:documentation xml:lang="bg">ApplicationDate - Дата на заявяване</xs:documentation>
		<xs:documentation xml:lang="bg">RegistrationNumber -  Регистров номер номер</xs:documentation>
		<xs:documentation xml:lang="bg">RegistrationDate - Дата на регистрация</xs:documentation>
		<xs:documentation xml:lang="bg">ExpiryDate - Дата на изтичане на срока на закрила (или само "срок на закрила")</xs:documentation>
		<xs:documentation xml:lang="bg">DesignCurrentStatusCode - Статус (правен статус) - изброяване, дефинирано в CommonTypes.xsd</xs:documentation>
		<xs:documentation xml:lang="bg">DesignCurrentStatusDate - Дата на придобиване на текущия правен статус</xs:documentation>
		<xs:documentation xml:lang="bg">DesignTitle - Заглавие на дизайна</xs:documentation>
		<xs:documentation xml:lang="bg">DesignDescription - Описание - свободен текст, незадължително</xs:documentation>
		<xs:documentation xml:lang="bg">DesignKind - Тип на дизайна - изброяване, дефинирано в CommonTypes.xsd</xs:documentation>
		<xs:documentation xml:lang="bg">DesignRepresentationSheetDetails - Графични изображения на дизайна</xs:documentation>
		<xs:documentation xml:lang="bg">IndicationProductDetails - Продуктови описания съгласно международна класификация</xs:documentation>
		<xs:documentation xml:lang="bg">PriorityDetails - конвенционен приоритет - съгласно дефиницията в CommonTypes.xsd</xs:documentation>
		<xs:documentation xml:lang="bg">ExhibitionPriorityDetails - изложбен приоритет - съгласно дефиницията в CommonTypes.xsd</xs:documentation>
		<xs:documentation xml:lang="bg">PublicationDetails - данни за публикации в бюлетина на Патентно ведомство - съгласно дефиницията в CommonTypes.xsd</xs:documentation>
		<xs:documentation xml:lang="bg">ApplicantDetails - данни за заявителите - съгласно дефиницията в CommonTypes.xsd</xs:documentation>
		<xs:documentation xml:lang="bg">RepresentativeDetails - данни за представителите по индустриална собственост (ПИС) - съгласно дефиницията в CommonTypes.xsd</xs:documentation>
		<xs:documentation xml:lang="bg">DesignerDetails - данни за dдизайнер(и)- съгласно дефиницията в CommonTypes.xsd</xs:documentation>
	</xs:annotation>
	<!-- ==== Съдържа данни за един промишлен дизайн 																==== -->
	<xs:complexType name="DesignType">
		<xs:sequence>
			<!-- Заявителски номер-->
			<xs:element name="ApplicationNumber" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Заявителски номер</xs:documentation>
				</xs:annotation>
			</xs:element>
			<!-- Дата на заявяване-->
			<xs:element name="ApplicationDate" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Дата на заявяване</xs:documentation>
				</xs:annotation>
			</xs:element>
			<!-- Регистров номер номер -->
			<xs:element name="RegistrationNumber" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Регистров номер</xs:documentation>
				</xs:annotation>
			</xs:element>
			<!-- Дата на регистрация -->
			<xs:element name="RegistrationDate" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Регистров номер </xs:documentation>
				</xs:annotation>
			</xs:element>
			<!-- Дата на изтичане на срока на закрила (или само "срок на закрила")-->
			<xs:element name="ExpiryDate" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Дата на изтичане на срока на закрила</xs:documentation>
				</xs:annotation>
			</xs:element>
			<!-- Статус (правен статус) - изброяване, дефинирано в CommonTypes.xsd-->
			<xs:element name="DesignCurrentStatusCode" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Статус (правен статус) </xs:documentation>
				</xs:annotation>
			</xs:element>
			<!-- Дата на придобиване на текущия правен статус-->
			<xs:element name="DesignCurrentStatusDate" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Дата на придобиване на текущия правен статус</xs:documentation>
				</xs:annotation>
			</xs:element>
			<!-- Заглавие на дизайна -->
			<xs:element name="DesignTitle" type="TextType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Заглавие на дизайна</xs:documentation>
				</xs:annotation>
			</xs:element>
			<!-- Описание - свободен текст, незадължително -->
			<xs:element name="DesignDescription" type="TextType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Описание - свободен текст, незадължително</xs:documentation>
				</xs:annotation>
			</xs:element>
			<!-- Тип на дизайна - изброяване, дефинирано в CommonTypes.xsd -->
			<xs:element name="DesignKind" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Тип на дизайна</xs:documentation>
				</xs:annotation>
			</xs:element>
			<!-- Графични изображения на дизайна -->
			<xs:element name="DesignRepresentationSheetDetails" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Графични изображения на дизайна</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="DesignViews" type="ViewType" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<!-- Продуктови описания съгласно международна класификация -->
			<xs:element name="IndicationProductDetails" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Продуктови описания съгласно международна класификация</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="IndicationProduct" type="LocarnoClassDescriptionType" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<!-- конвенционен приоритет - съгласно дефиницията в CommonTypes.xsd -->
			<xs:element name="PriorityDetails" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Kонвенционен приоритет</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Priority" type="PriorityType" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<!-- изложбен приоритет - съгласно дефиницията в CommonTypes.xsd -->
			<xs:element name="ExhibitionPriorityDetails" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Изложбен приоритет</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ExhibitionPriority" type="ExhibitionPriorityType" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<!-- данни за публикации в бюлетина на Патентно ведомство - съгласно дефиницията в CommonTypes.xsd -->
			<xs:element name="PublicationDetails" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Данни за публикации в бюлетина на Патентно ведомство</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Publication" type="PublicationType" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<!--данни за заявителите - съгласно дефиницията в CommonTypes.xsd -->
			<xs:element name="ApplicantDetails" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Данни за заявителите</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Applicant" type="ApplicantType" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<!-- данни за представителите по индустриална собственост (ПИС) - съгласно дефиницията в CommonTypes.xsd -->
			<xs:element name="RepresentativeDetails" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Данни за представителите по индустриална собственост (ПИС)</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Representative" type="RepresentativeType" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<!-- данни за dдизайнер(и)- съгласно дефиницията в CommonTypes.xsd -->
			<xs:element name="DesignerDetails" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Данни за дизайнер(и)</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Designer" type="DesignerType" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	
	<!-- ====================================================================== -->
	<!-- Filename    : DesignCurrentStatusCodeType.xsd                           -->
	<!-- Author      : DS-XML WG                                                -->
	<!-- Version     : 1.1                                                      -->
	<!-- Last Update : 2009-10-23                                               -->
	<!-- ====================================================================== -->
	<xs:element name="DesignCurrentStatusCode" type="DesignCurrentStatusCodeType"/>
	<xs:simpleType name="DesignCurrentStatusCodeType">
		<xs:restriction base="xs:token">
			<xs:enumeration value="Filed"/>
			<xs:enumeration value="Withdrawn"/>
			<xs:enumeration value="Rejected"/>
			<xs:enumeration value="Registered"/>
			<xs:enumeration value="Cancelled"/>
			<xs:enumeration value="Expired"/>
			<xs:enumeration value="Undefined"/>
		</xs:restriction>
	</xs:simpleType>
	
	<!-- ====================================================================== -->
	<!-- Filename    : TextType.xsd                                             -->
	<!-- Author      : TM-XML WG                                                -->
	<!-- Version     : 1.3                                                      -->
	<!-- Last Update : 2009-10-23                                               -->
	<!-- ====================================================================== -->
	<xs:complexType name="TextType">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="languageCode" type="xs:language" use="optional"/>
				<xs:attribute name="sequenceNumber" type="xs:integer" use="optional"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	
	<!-- ====================================================================== -->
	<!-- Filename    : DesignKindType.xsd                                       -->
	<!-- Author      : DS-XML WG                                                -->
	<!-- Version     : 1.1                                                      -->
	<!-- Last Update : 2009-10-23                                               -->
	<!-- ====================================================================== -->
	<xs:element name="DesignKind" type="DesignKindType"/>
	<xs:simpleType name="DesignKindType">
		<xs:restriction base="xs:token">
			<xs:enumeration value="Drawing"/>
			<xs:enumeration value="Model"/>
		</xs:restriction>
	</xs:simpleType>
	
	<!-- ====================================================================== -->
	<!-- Filename    : ViewType.xsd                                             -->
	<!-- Author      : DS-XML WG                                                -->
	<!-- Version     : 1.1                                                      -->
	<!-- Last Update : 2009-10-23                                               -->
	<!-- ====================================================================== -->
	<xs:complexType name="ViewType">
		<xs:sequence>
			<xs:element name="ViewIdentifier" type="xs:token" minOccurs="0"/>
			<xs:element name="ViewFileFormat" type="FileFormatType" minOccurs="0"/>
			<xs:element name="ViewTitle" type="TextType" minOccurs="0"/>
			<xs:element name="ViewBinary" type="xs:base64Binary" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	
	<!-- ====================================================================== -->
	<!-- Filename    : FileFormatType.xsd                                       -->
	<!-- Author      : TM-XML WG                                                -->
	<!-- Version     : 1.3                                                      -->
	<!-- Last Update : 2009-10-23                                               -->
	<!-- ====================================================================== -->
	<xs:element name="FileFormat" type="FileFormatType"/>
	<xs:simpleType name="FileFormatType">
		<xs:union memberTypes="xs:token">
			<xs:simpleType>
				<xs:restriction base="xs:token">
					<xs:enumeration value="JPEG"/>
					<xs:enumeration value="TIFF"/>
					<xs:enumeration value="PNG"/>
					<xs:enumeration value="GIF"/>
					<xs:enumeration value="Other"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:union>
	</xs:simpleType>
	
	<!-- ====================================================================== -->
	<!-- Filename    : LocarnoClassDescriptionType.xsd                                 -->
	<!-- Author      : DS-XML WG                                                -->
	<!-- Version     : 1.1                                                      -->
	<!-- Last Update : 2009-10-23                                               -->
	<!-- ====================================================================== -->
	<xs:complexType name="LocarnoClassDescriptionType">
		<xs:sequence>
			<xs:element name="ClassNumber" type="xs:string" minOccurs="0"/>
			<xs:element name="ProductDescription" type="TextType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	
	<!-- ====================================================================== -->
	<!-- Filename    : PriorityType.xsd                                         -->
	<!-- Author      : TM-XML WG                                                -->
	<!-- Version     : 1.3                                                      -->
	<!-- Last Update : 2009-10-23                                               -->
	<!-- ====================================================================== -->
	<xs:complexType name="PriorityType">
		<xs:sequence>
			<xs:element name="PriorityCountryCode" type="xs:string" minOccurs="0"/>
			<xs:element name="PriorityNumber" type="xs:string" minOccurs="0"/>
			<xs:element name="PriorityDate" type="xs:date" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	
	<!-- ====================================================================== -->
	<!-- Filename    : ExhibitionPriorityType.xsd                               -->
	<!-- Author      : TM-XML WG                                                -->
	<!-- Version     : 1.3                                                      -->
	<!-- Last Update : 2009-10-23                                               -->
	<!-- ====================================================================== -->
	<xs:complexType name="ExhibitionPriorityType">
		<xs:sequence>
			<xs:element name="ExhibitionCountryCode" type="xs:string" minOccurs="0"/>
			<xs:element name="ExhibitionCityName" type="xs:string" minOccurs="0"/>
			<xs:element name="ExhibitionName" type="xs:string" minOccurs="0"/>
			<xs:element name="ExhibitionDate" type="xs:date" minOccurs="0"/>
			<xs:element name="Comment" type="TextType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	
	<!-- ====================================================================== -->
	<!-- Filename    : PublicationType.xsd                                      -->
	<!-- Author      : TM-XML WG                                                -->
	<!-- Version     : 1.3                                                      -->
	<!-- Last Update : 2009-10-23                                               -->
	<!-- ====================================================================== -->
	<xs:complexType name="PublicationType">
		<xs:sequence>
			<xs:element name="PublicationIdentifier" type="xs:string" minOccurs="0"/>
			<xs:element name="PublicationSection" type="xs:string" minOccurs="0"/>
			<xs:element name="PublicationSubsection" type="xs:string" minOccurs="0"/>
			<xs:element name="PublicationDate" type="xs:date" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	
	<!-- ====================================================================== -->
	<!-- Filename    : ApplicantType.xsd                                        -->
	<!-- Author      : TM-XML WG                                                -->
	<!-- Version     : 1.3                                                      -->
	<!-- Last Update : 2009-10-23                                               -->
	<!-- ====================================================================== -->
	<xs:complexType name="ApplicantType">
		<xs:sequence>
			<xs:element name="ApplicantIdentifier" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="ApplicantNationalityCode" type="xs:string" minOccurs="0"/>
			<xs:element name="ApplicantAddressBook" type="AddressBookType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	
	<!-- ====================================================================== -->
	<!-- Filename    : AddressBookType.xsd                                      -->
	<!-- Author      : TM-XML WG                                                -->
	<!-- Version     : 1.3                                                      -->
	<!-- Last Update : 2009-10-23                                               -->
	<!-- ====================================================================== -->
	<xs:complexType name="AddressBookType">
		<xs:sequence>
			<xs:element name="FormattedNameAddress" type="FormattedNameAddressType" minOccurs="0"/>
			<xs:element name="ContactInformationDetails" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Phone" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
						<xs:element name="Fax" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
						<xs:element name="Email" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
						<xs:element name="URL" type="xs:anyURI" minOccurs="0" maxOccurs="unbounded"/>
						<xs:element name="OtherElectronicAddress" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	
	<!-- ====================================================================== -->
	<!-- Filename    : FormattedNameAddressType.xsd                             -->
	<!-- Author      : TM-XML WG                                                -->
	<!-- Version     : 1.3                                                      -->
	<!-- Last Update : 2009-10-23                                               -->
	<!-- ====================================================================== -->
	<xs:complexType name="FormattedNameAddressType">
		<xs:sequence>
			<xs:element name="Name" type="NameType" minOccurs="0"/>
			<xs:element name="Address" type="AddressType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	
	<!-- ====================================================================== -->
	<!-- Filename    : NameType.xsd                                             -->
	<!-- Author      : TM-XML WG                                                -->
	<!-- Version     : 1.3                                                      -->
	<!-- Last Update : 2009-10-23                                               -->
	<!-- ====================================================================== -->
	<xs:complexType name="NameType">
		<xs:sequence>
			<xs:choice>
				<xs:element name="FormattedName" type="FormattedNameType" minOccurs="0"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	
	<!-- ====================================================================== -->
	<!-- Filename    : AddressType.xsd                                          -->
	<!-- Author      : TM-XML WG                                                -->
	<!-- Version     : 1.3                                                      -->
	<!-- Last Update : 2009-10-23                                               -->
	<!-- ====================================================================== -->
	<xs:complexType name="AddressType">
		<xs:sequence>
			<xs:choice minOccurs="0">
				<xs:element name="FormattedAddress" type="FormattedAddressType" minOccurs="0"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	
	<!-- ====================================================================== -->
	<!-- Filename    : FormattedNameType.xsd                                        -->
	<!-- ====================================================================== -->
	<xs:complexType name="FormattedNameType">
		<xs:sequence>
			<xs:element name="NamePrefix" type="xs:string" minOccurs="0"/>
			<xs:element name="FirstName" type="xs:string" minOccurs="0"/>
			<xs:element name="MiddleName" type="xs:string" minOccurs="0"/>
			<xs:element name="LastName" type="xs:string" minOccurs="0"/>
			<xs:element name="SecondLastName" type="xs:string" minOccurs="0"/>
			<xs:element name="OrganizationName" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	
	<!-- ====================================================================== -->
	<!-- Filename    : FormattedAddressType.xsd                                        -->
	<!-- ====================================================================== -->
	<xs:complexType name="FormattedAddressType">
		<xs:sequence>
			<xs:element name="AddressStreet" type="xs:string" minOccurs="0"/>
			<xs:element name="AddressCity" type="xs:string" minOccurs="0"/>
			<xs:element name="AddressCounty" type="xs:string" minOccurs="0"/>
			<xs:element name="AddressState" type="xs:string" minOccurs="0"/>
			<xs:element name="AddressPostcode" type="xs:string" minOccurs="0"/>
			<xs:element name="FormattedAddressCountryCode" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	
	<!-- ====================================================================== -->
	<!-- Filename    : RepresentativeType.xsd                                   -->
	<!-- Author      : TM-XML WG                                                -->
	<!-- Version     : 1.3                                                      -->
	<!-- Last Update : 2009-10-23                                               -->
	<!-- ====================================================================== -->
	<xs:complexType name="RepresentativeType">
		<xs:sequence>
			<xs:element name="RepresentativeIdentifier" type="xs:integer" minOccurs="0"/>
			<xs:element name="RepresentativeNationalityCode" type="xs:string" minOccurs="0"/>
			<xs:element name="RepresentativeLegalEntity" type="xs:string" minOccurs="0"/>
			<xs:element name="RepresentativeAddressBook" type="AddressBookType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	
	<!-- ====================================================================== -->
	<!-- Filename    : DesignerType.xsd                                        -->
	<!-- ====================================================================== -->
	<xs:complexType name="DesignerType">
		<xs:sequence>
			<xs:element name="DesignerNationalityCode" type="xs:string" minOccurs="0"/>
			<xs:element name="DesignerLegalEntity" type="xs:string" minOccurs="0"/>
			<xs:element name="DesignerAddressBook" type="AddressBookType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
