egov-eauth/eauth-common-libs/eauth-soap-service/src/main/resources/regix/schemas/RegiX.PvMarksAdapter/REG_MARKS_TradeMarkDetails_Response.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--xmlns:common="http://egov.bg/RegiX/PatentDepartment/Marks/Common"-->
<xs:schema xmlns="http://egov.bg/RegiX/PatentDepartment/Marks/TradeMarkDetailsResponse" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://egov.bg/RegiX/PatentDepartment/Marks/TradeMarkDetailsResponse" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
  <!--<xs:import namespace="http://egov.bg/RegiX/PatentDepartment/Marks/Common" schemaLocation="CommonTypes.xsd"/>-->
  <!-- ====================================================================== -->
  <!-- Root element 																															 -->
  <!-- ====================================================================== -->
  <!-- ===  			Съдържа един или повече елемента от тип TradeMarkType 								===-->

  <xs:element name="REG_MARKS_TradeMarkDetails_Response">
    <xs:annotation>
      <xs:documentation xml:lang="bg">TradeMarkDetails - Root element; съдържа един или повече елемента от тип TradeMarkType</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence minOccurs="0" maxOccurs="1">
        <xs:element name="TradeMarks"  minOccurs="0" type="TradeMarkDetailsType"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="TradeMarkDetailsType">
    <xs:sequence>
      <xs:element name="TradeMark" type="TradeMarkType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Съдържа данни за една търговска марка</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TradeMarkType">
    <xs:sequence>
      <xs:element name="RegistrationOfficeCode" type="xs:string" minOccurs="0"/>
      <!-- Заявителски номер-->
      <xs:element name="ApplicationNumber" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Заявителски номер</xs:documentation>
        </xs:annotation>
      </xs:element>
      <!-- Дата на заявяване-->
      <xs:element name="ApplicationDate" type="xs:date" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Дата на заявяване</xs:documentation>
        </xs:annotation>
      </xs:element>
      <!-- Регистров номер номер -->
      <xs:element name="RegistrationNumber" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Регистров номер</xs:documentation>
        </xs:annotation>
      </xs:element>
      <!-- Дата на регистрация -->
      <xs:element name="RegistrationDate" type="xs:date" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Дата на регистрация</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ApplicationReference" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Вътрешна идентификация на заявителя (Refenence)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ApplicantSideCaseKey" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Вътрешна идентификация на заявителя (Case key)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ApplicationLanguageCode" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Език на заявяване</xs:documentation>
        </xs:annotation>
      </xs:element>
      <!-- Дата на изтичане на срока на закрила (или само "срок на закрила")-->
      <xs:element name="ExpiryDate" type="xs:date" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Дата на изтичане на марката</xs:documentation>
        </xs:annotation>
      </xs:element>
      <!-- Статус на марката (правен статус) - изброяване, дефинирано в CommonTypes.xsd-->
      <xs:element name="MarkCurrentStatusCode" type="MarkCurrentStatusCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Статус на марката (правен статус)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <!-- Дата на придобиване на текущия правен статус-->
      <xs:element name="MarkCurrentStatusDate" type="xs:date" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Дата на придобиване на текущия правен статус</xs:documentation>
        </xs:annotation>
      </xs:element>
      <!-- Тип на марката -  изброяване, дефинирано в CommonTypes.xsd -->
      <xs:element name="KindMark" type="KindMarkType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Тип на марката</xs:documentation>
        </xs:annotation>
      </xs:element>
      <!-- Вид на марката -  изброяване, дефинирано в CommonTypes.xsd -->
      <xs:element name="MarkFeature" type="MarkFeatureType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Вид на марката</xs:documentation>
        </xs:annotation>
      </xs:element>
      <!-- Описание на марката - свободен текст, незадължително-->
      <xs:element name="MarkDescriptionDetails" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Описание на марката - свободен текст, незадължително</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="MarkDescription" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <!-- Незащитими елементи - свободен текст, незадължително-->
      <xs:element name="MarkDisclaimerDetails" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Незащитими елементи - свободен текст, незадължително</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="MarkDisclaimer" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <!-- наименование на марката (в случай че е словна)-->
      <xs:element name="WordMarkSpecification" type="WordMarkSpecificationType"  minOccurs="0">
        <xs:annotation>
          <xs:documentation>Наименование на марката (в случай че е словна)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <!-- изображение на марката (в случай че е образна, комбинирана, триизмерна или звукова)-->
      <xs:element name="MarkImageDetails" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Изображение на марката (в случай че е образна, комбинирана, триизмерна или звукова)</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <!-- тип (формат) на изобажението - изброяване, дефинирано в CommonTypes.xsd -->
            <xs:element name="MarkImage" type="MarkImageType" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <!--описание на стоките и услугите съгласно международната класификаия -->
      <xs:element name="GoodsServicesDetails" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Описание на стоките и услугите съгласно международната класификаия</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <!-- двойка от вида номер на клас - изброяване на стоки и услуги, съгласно дефиницията в CommonTypes.xsd -->
            <xs:element name="GoodsServices" type="GoodsServicesType" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <!-- конвенционен приоритет - съгласно дефиницията в CommonTypes.xsd -->
      <xs:element name="PriorityDetails" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Конвенционен приоритет</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Priority" type="PriorityType" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <!-- изложбен приоритет - съгласно дефиницията в CommonTypes.xsd -->
      <xs:element name="ExhibitionPriorityDetails" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Изложбен приоритет</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="ExhibitionPriority" type="ExhibitionPriorityType" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <!-- данни за публикации в бюлетина на Патентно ведомство - съгласно дефиницията в CommonTypes.xsd -->
      <xs:element name="PublicationDetails" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Данни за публикации в бюлетина на Патентно ведомство </xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Publication" type="PublicationType"  minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <!--данни за заявителите - съгласно дефиницията в CommonTypes.xsd -->
      <xs:element name="ApplicantDetails" type="ApplicantDetailsType"  minOccurs="0">
        <xs:annotation>
          <xs:documentation>Данни за заявителите</xs:documentation>
        </xs:annotation>
      </xs:element>
      <!-- данни за представителите по индустриална собственост (ПИС) - съгласно дефиницията в CommonTypes.xsd -->
      <xs:element name="RepresentativeDetails" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Данни за представителите по индустриална собственост (ПИС)</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Representative" type="RepresentativeType" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="MarkCurrentStatusCodeType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Application filed"/>
      <xs:enumeration value="Filing date accorded"/>
      <xs:enumeration value="Classification checked"/>
      <xs:enumeration value="Application accepted"/>
      <xs:enumeration value="Application published"/>
      <xs:enumeration value="Application opposed"/>
      <xs:enumeration value="Application refused"/>
      <xs:enumeration value="Application deemed withdrawn"/>
      <xs:enumeration value="Application withdrawn"/>
      <xs:enumeration value="Appeal pending"/>
      <xs:enumeration value="Interruption of proceedings"/>
      <xs:enumeration value="Registered"/>
      <xs:enumeration value="Registration opposed"/>
      <xs:enumeration value="Registration cancellation pending"/>
      <xs:enumeration value="Registration cancelled"/>
      <xs:enumeration value="Conversion requested"/>
      <xs:enumeration value="Registration surrendered"/>
      <xs:enumeration value="Revocation proceeding pending"/>
      <xs:enumeration value="Invalidity proceeding pending"/>
      <xs:enumeration value="Action before Court of Justice pending"/>
      <xs:enumeration value="Expired"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="KindMarkType">
    <xs:union memberTypes="xs:string">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="Individual"/>
          <xs:enumeration value="Collective"/>
          <xs:enumeration value="Certificate"/>
          <xs:enumeration value="Guarantee"/>
          <xs:enumeration value="Defensive"/>
          <xs:enumeration value="Other"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:union>
  </xs:simpleType>
  <xs:simpleType name="MarkFeatureType">
    <xs:union memberTypes="xs:string">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="Word"/>
          <xs:enumeration value="Stylized characters"/>
          <xs:enumeration value="Figurative"/>
          <xs:enumeration value="Combined"/>
          <xs:enumeration value="3-D"/>
          <xs:enumeration value="Colour"/>
          <xs:enumeration value="Sound"/>
          <xs:enumeration value="Hologram"/>
          <xs:enumeration value="Olfactory"/>
          <xs:enumeration value="Motion"/>
          <xs:enumeration value="Municipal"/>
          <xs:enumeration value="Chimney"/>
          <xs:enumeration value="Kennfaden"/>
          <xs:enumeration value="Other"/>
          <xs:enumeration value="Undefined"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:union>
  </xs:simpleType>
  <xs:complexType name="WordMarkSpecificationType">
    <xs:sequence>
      <xs:element name="MarkVerbalElementText" type="TextType" minOccurs="0"/>
      <xs:element name="MarkTranslation" type="TextType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TextType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="LanguageCode" type="xs:language" use="optional"/>
        <xs:attribute name="SequenceNumber" type="xs:integer" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="MarkImageType">
    <xs:sequence>
      <xs:element name="MarkImageFileFormat" type="FileFormatType" minOccurs="0"/>
      <xs:element name="MarkImageColourClaimedText" type="TextType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="MarkImageCategory" type="MarkImageCategoryType" minOccurs="0"/>
      <xs:element name="MarkImageBinary" type="xs:base64Binary" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="FileFormatType">
    <xs:union memberTypes="xs:string">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="JPEG"/>
          <xs:enumeration value="TIFF"/>
          <xs:enumeration value="PNG"/>
          <xs:enumeration value="GIF"/>
          <xs:enumeration value="Other"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:union>
  </xs:simpleType>
  <xs:complexType name="MarkImageCategoryType">
    <xs:sequence>
      <xs:element name="CategoryCodeDetails" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="CategoryCode" type="CategoryCodeType" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="CategoryCodeType">
    <xs:union memberTypes="xs:string">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:pattern value="[0-9][0-9].[0-9][0-9].[0-9][0-9]|[0-9][0-9].[0-9][0-9]|([0-9][0-9]){4}|([0-9][0-9]){6}"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:union>
  </xs:simpleType>
  <xs:complexType name="GoodsServicesType">
    <xs:sequence>
      <xs:element name="ClassDescriptionDetails" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="ClassDescription" type="ClassDescriptionType" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ClassDescriptionType">
    <xs:sequence>
      <xs:element name="ClassNumber" type="ClassNumberType" minOccurs="0"/>
      <xs:element name="GoodsServicesDescription" type="TextType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="ClassNumberType">
    <xs:union memberTypes="xs:string NiceClassNumberType"/>
  </xs:simpleType>
  <xs:simpleType name="NiceClassNumberType">
    <xs:restriction base="xs:nonNegativeInteger">
      <xs:maxInclusive value="45"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="PriorityType">
    <xs:sequence>
      <xs:element name="PriorityCountryCode" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Държава на приоритет</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PriorityNumber" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Номер на приоритет</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PriorityDate" type="xs:date" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Дата</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ExhibitionPriorityType">
    <xs:sequence>
      <xs:element name="ExhibitionCountryCode" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Държава на изложбен приоритет</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ExhibitionCityName" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Град</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ExhibitionName" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Име на изложба</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ExhibitionDate" type="xs:date" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Дата на изложба</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Comment" type="TextType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Коментар</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PublicationType">
    <xs:sequence>
      <xs:element name="PublicationIdentifier" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Номер на бюлетин</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PublicationSection" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Раздел в бюлетина</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PublicationSubsection" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Подраздел в бюлетина</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PublicationDate" type="xs:date" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Дата на публикация</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ApplicantDetailsType">
    <xs:sequence>
      <xs:element name="Applicant" type="ApplicantType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ApplicantType">
    <xs:sequence>
      <xs:element name="ApplicantIdentifier" type="xs:string" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Идентификатор на заявителя</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ApplicantNationalityCode" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Националност</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ApplicantAddressBook" type="AddressBookType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AddressBookType">
    <xs:sequence>
      <xs:element name="FormattedNameAddress" type="FormattedNameAddressType" minOccurs="0"/>
      <xs:element name="ContactInformationDetails" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Phone" type="xs:string" minOccurs="0" maxOccurs="unbounded">
              <xs:annotation>
                <xs:documentation>Телефон</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="Fax" type="xs:string" minOccurs="0" maxOccurs="unbounded">
              <xs:annotation>
                <xs:documentation>Факс</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="Email" type="xs:string" minOccurs="0" maxOccurs="unbounded">
              <xs:annotation>
                <xs:documentation>E-mail</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="URL" type="xs:anyURI" minOccurs="0" maxOccurs="unbounded">
              <xs:annotation>
                <xs:documentation>Уебсайт</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="OtherElectronicAddress" type="xs:string" minOccurs="0" maxOccurs="unbounded">
              <xs:annotation>
                <xs:documentation>Друг електронен адрес</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FormattedNameAddressType">
    <xs:sequence>
      <xs:element name="Name" type="NameType" minOccurs="0"/>
      <xs:element name="Address" type="AddressType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="NameType">
    <xs:sequence>
      <xs:element name="FormattedName" type="FormattedNameType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AddressType">
    <xs:sequence>
      <xs:element name="FormattedAddress" type="FormattedAddressType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FormattedNameType">
    <xs:sequence>
      <xs:element name="NamePrefix" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Префикс</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="FirstName" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Име</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MiddleName" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Презиме</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="LastName" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Фамилия</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SecondLastName" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Втора Фамилия</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="OrganizationName" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Име на организация</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FormattedAddressType">
    <xs:sequence>
      <xs:element name="AddressStreet" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Улица</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AddressCity" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Град</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AddressCounty" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Държава</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AddressState" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Щат</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AddressPostcode" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Пощенски код</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="FormattedAddressCountryCode" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Двубуквен код на държава</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RepresentativeType">
    <xs:sequence>
      <xs:element name="RepresentativeIdentifier" type="xs:integer" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Идентификатор на ПИС</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RepresentativeNationalityCode" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Националност</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RepresentativeLegalEntity" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Тип на ПИС (физическо/юридическо лице)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RepresentativeAddressBook" type="AddressBookType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
